.score-ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    padding: 0 6rem;
}

.score-items {
    width:80%;
    justify-self: center;
    

}

.score-items li{
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.score-items .question-number {
    font-weight: 800;
    text-decoration: underline;
}